/* screen - section-3u462u460 */

.section-3u462u460 {
  align-items: flex-start;
  background-color: var(--light-themebackground);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.section-3u462u460 .vuesaxlinearnotification-bing {
  background-image: url(../img/vuesax-linear-notification-bing-7@2x.png);
  background-size: 100% 100%;
  height: 20px;
  position: relative;
  width: 20px;
}

.section-3u462u460 .frame-52786 {
  background-color: var(--light-themesecondary-color);
  border: 1.67px solid;
  border-color: var(--light-themebackground);
  border-radius: 16.67px;
  display: flex;
  flex-direction: column;
  gap: 8.33px;
  height: 9px;
  justify-content: center;
  left: 11px;
  padding: 6.67px 8.33px;
  width: 9px;
}

.section-3u462u460 .vuesaxlineararrow-down {
  background-image: url(../img/vuesax-linear-arrow-down-8.svg);
  background-size: 100% 100%;
  height: 20px;
  position: relative;
  width: 20px;
}

.section-3u462u460 .overlap-group4 {
  height: 917px;
  margin-left: 1px;
  position: relative;
  width: 1439px;
}

.section-3u462u460 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 313px;
  min-height: 720px;
  position: absolute;
  top: 18px;
  width: 1083px;
}

.section-3u462u460 .flex-col-1 {
  background-image: url(../img/rectangle-4276-6.svg);
  background-size: 100% 100%;
  gap: 47px;
  min-height: 686px;
  padding: 34px 37px;
  width: 1083px;
}

.section-3u462u460 .flex-row {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  gap: 18px;
  height: 501px;
  min-width: 1000px;
}

.section-3u462u460 .flex-col-2 {
  gap: 36px;
  min-height: 501px;
  width: 702px;
}

.section-3u462u460 .flex-row-1 {
  align-items: flex-start;
  background-color: var(--light-themebackground);
  border: 2px solid;
  border-color: var(--bon-jour);
  border-radius: 10px;
  box-shadow: 0px 5px 16px #080f340f;
  display: flex;
  gap: 127px;
  height: 437px;
  justify-content: flex-end;
  min-width: 702px;
  padding: 37px 42px;
}

.section-3u462u460 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 208px;
  min-width: 237px;
}

.section-3u462u460 .ellipse-2 {
  margin-top: 10px;
}

.section-3u462u460 .flex-col-3 {
  gap: 24px;
  min-height: 208px;
  width: 222px;
}

.section-3u462u460 .wmrd-oh-isjq-kh-yd-fdj {
  -webkit-text-stroke: 2px var(--bon-jour);
  color: var(--neutral800);
  cursor: pointer;
  font-family: var(--font-family-fmabhaya-x);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 26px;
  letter-spacing: 0;
  line-height: 35px;
  white-space: nowrap;
}

.section-3u462u460 .group-37147 {
  margin-left: 2px;
}

.section-3u462u460 .wdr-nl-kh {
  -webkit-text-stroke: 2px var(--bon-jour);
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2px;
  white-space: nowrap;
}

.section-3u462u460 .input {
  align-items: center;
  align-self: flex-end;
  background-color: var(--light-themebackground);
  border: 2px solid;
  border-color: var(--bon-jour);
  border-radius: 5px;
  display: flex;
  gap: 73px;
  margin-right: 2px;
  margin-top: 8px;
  padding: 10px;
  position: relative;
  width: 180px;
}

.section-3u462u460 .frame-14 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 44px;
}

.section-3u462u460 .x-fjdj {
  -webkit-text-stroke: 2px var(--bon-jour);
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2px;
  margin-top: 21px;
  white-space: nowrap;
}

.section-3u462u460 .input-1 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--light-themebackground);
  border: 2px solid;
  border-color: var(--bon-jour);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  margin-right: 2px;
  margin-top: 8px;
  padding: 10px;
  position: relative;
  width: 180px;
}

.section-3u462u460 .flex-col-4 {
  gap: 40px;
  min-height: 215px;
  width: 243px;
}

.section-3u462u460 .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 11px;
  min-width: 243px;
}

.section-3u462u460 .ellipse-3 {
  margin-top: 4px;
}

.section-3u462u460 .ld-mdrihla-ioyka-wesg {
  -webkit-text-stroke: 2px var(--bon-jour);
  color: var(--neutral800);
  font-family: var(--font-family-fmabhaya-x);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  width: 222px;
}

.section-3u462u460 .group-37148 {
  margin-left: 5px;
}

.section-3u462u460 .wjika-kh {
  -webkit-text-stroke: 2px var(--bon-jour);
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2px;
  white-space: nowrap;
}

.section-3u462u460 .rectangle-4277 {
  background-color: var(--light-themebackground);
  border: 2px solid;
  border-color: var(--bon-jour);
  border-radius: 10px;
  box-shadow: 0px 5px 16px #080f340f;
  height: 433px;
  margin-bottom: 2px;
  width: 280px;
}

.section-3u462u460 .primary-btn-container {
  align-items: center;
  display: flex;
  margin-left: 20px;
  min-width: 927px;
}

.section-3u462u460 .arrow-2 {
  margin-left: -3.5px;
}

.section-3u462u460 .button-text {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: -0.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.section-3u462u460 .primary-btn-8 {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.16px;
  margin-left: 134px;
  position: relative;
  width: 150px;
}

.section-3u462u460 .button-text-1 {
  -webkit-text-stroke: 1px var(--red);
  margin-top: -0.08px;
  text-align: center;
}

.section-3u462u460 .primary-btn-7 {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 10px;
  box-shadow: 0px 3px 12px #4939ff2e;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  margin-left: 345px;
  padding: 8px 20px;
  position: relative;
  width: 146px;
}

.section-3u462u460 .button-text-2 {
  margin-left: -6px;
  margin-top: -1px;
  text-align: center;
}

.section-3u462u460 .arrow-1 {
  margin-right: -7px;
  object-fit: cover;
}

.section-3u462u460 .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 98px;
  left: 0;
  min-height: 816px;
  padding: 44px 37px;
  position: absolute;
  top: 0;
  width: 303px;
}

.section-3u462u460 .step-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 6px 24px;
  position: relative;
  width: 100%;
}

.section-3u462u460 .step-success {
  height: 33px;
  position: relative;
  width: 33px;
}

.section-3u462u460 .step-number-1 {
  background-color: var(--royal-blue-2);
  border-color: var(--main-2);
}

.section-3u462u460 .step-number-2 {
  background-color: var(--cadet-blue);
  border-color: var(--border);
}

.section-3u462u460 .step-number {
  display: flex;
  align-items: center;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 33px;
  justify-content: center;
  position: relative;
  width: 33px;
}

.section-3u462u460 .primary-btn-9 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 182px;
}

.section-3u462u460 .primary-btn-6 {
  align-items: flex-start;
  display: flex;
  margin-right: -2px;
  max-width: 190px;
  position: relative;
  width: 184px;
}

.section-3u462u460 .primary-btn-3 {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 10px;
  box-shadow: 0px 3px 12px #4939ff2e;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  padding: 8px 20px;
  position: relative;
  width: 184px;
}

.section-3u462u460 .button-text-3 {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: -1px;
}

.section-3u462u460 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--light-themebackground);
  border: 2px solid;
  border-color: var(--bon-jour);
  display: flex;
  height: 101px;
  left: 0;
  min-width: 1439px;
  padding: 27px 483px;
  position: absolute;
  top: 816px;
}

.section-3u462u460 .button-text-4 {
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section-3u462u460 .ellipse {
  background-color: var(--light-themebackground);
  border: 1px solid;
  border-color: var(--black-2);
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.section-3u462u460 .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.section-3u462u460 .group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 149px;
  width: 202px;
}

.section-3u462u460 .step-number-3 {
  align-items: center;
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 33px;
  justify-content: center;
  position: relative;
  width: 33px;
}
